.page.theme_dark .theme__only-dark {
  position: absolute;
  color: var(--decoration-accent-color);
  text-align: center;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  top: 20px;
  right: 48px;
}

.theme__only-dark::after {
  content: '';
  position: absolute;
  background-color: var(--decoration-accent-color);
  width: 10px;
  height: 10px;
  border-radius: 90%;
  top: 8px;
  left: 40px;
  box-shadow: 0 0 10px var(--decoration-accent-color);
}

.theme_dark {
  --text-background-color: #FF0070;
  --text-color: #F1B2CE;
  --title-text-color: #DB00FF;
  --decoration-accent-color: #FF0070;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header-text {
  color: #000028;
}

.theme_dark .header__theme-menu-button {
  color: var(--decoration-accent-color);
}

.theme_dark .section__title {
  color: var(--decoration-accent-color);
}

.theme_dark .section__content-title {
  color: #000028;
}

.theme_dark .section__content-subtitle {
  color: #000028;
}



