/* Main styles */

.page {
  margin: 0 auto;
  max-width: 1024px;
  background-image: url(../images/cover-image-light.png);
  background-attachment: fixed;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 20px;
}

/* Decorating styles */

.title-decor {
  background-color: var(--text-background-color);
}

.text__link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text__link:focus {
  outline: none;
  border: none;
}

.text__link:hover {
  border-bottom: 1px solid var(--decoration-accent-color);
}

.text__link:focus-visible {
  border: 1px solid var(--decoration-accent-color);
}

.corner-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-inline-start: 1px solid var(--decoration-accent-color);
  border-block-end: 1px solid var(--decoration-accent-color);
  bottom: 20px;
  left: 20px;
}

.corner-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  border-inline-end: 1px solid var(--decoration-accent-color);
  border-block-start: 1px solid var(--decoration-accent-color);
  right: 20px;
  top: 20px;
}

/* Header */

.header {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  min-height: 768px;
  padding: 20px;
  position: relative;
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  padding: 0 13px;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 26px;

  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;

  background-color: transparent;
  border: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--decoration-accent-color);  
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decoration-accent-color);
  border-top: none;
  border-left: none;
  border-right: none;
}

.header__theme-menu-button_active:disabled {
  pointer-events: none;
  border: 1px solid var(--decoration-accent-color);
}


.header__title {
  color: var(--title-text-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  margin-inline-start: -20px;

  justify-self: start;
  align-self: center;
}

.header__text {
  background-color: var(--text-background-color);
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; 

  justify-self: right;
  align-self: start;
  max-width: 491px;

  display: flex;
  
}

/* Common section styles */

.section {
  background-color: var(--section-background-color);
  gap: 20px;
}

.section__title {
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: var(--text-color);
  line-height: 130%;
  max-width: 315px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__content-title {
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #353430;
  line-height: 130%;
}

.section__content-subtitle {
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #353430;
  line-height: 130%;
}

.section__content-text {
  font-family: var(--main-font-family), Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  line-height: 130%;
}

.section__content-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Special section styles */

.section__why {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

.section__what {
  display: grid;
  grid-template-rows: repeat(2, min-content);
}

.section__content-what {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.section__how {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
}

.section__pictures {
  display: grid;
}

.section__pictures-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  gap: 20px;
  grid-template-areas: 
   "sunset sunset icecream"
   "tape books icecream"
   "tape street street"
  ;
}

.section__pictures-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section__pictures-item-sunset {
  grid-area: sunset;
}

.section__pictures-item-icecream {
  grid-area: icecream;
}

.section__pictures-item-books {
  grid-area: books;
}

.section__pictures-item-street {
  grid-area: street;
}

.section__pictures-item-tape {
  grid-area: tape;
}


/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  position: relative;
  padding: 20px;
}

.footer__title {
  color: var(--title-text-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--main-font-family), Arial, Helvetica, serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;  
  padding: 20px;
}


/* Media queries */

/* @media (max-width: 1204px) {
  .header__title {
    left: 20px;
  }

} */


@media (max-width: 768px) {
  .section__content-what {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .header__title {

  }
}